:root {
  --b-cssvar-main-color: #8a8a8a;

  --b-cssvar-ffffff: #ffffff;
  --b-cssvar-ffffff-r: 255;
  --b-cssvar-ffffff-g: 255;
  --b-cssvar-ffffff-b: 255;

  --b-cssvar-ffffff-opacity-a: 0.75;

  --b-cssvar-f1f3f5: #f1f3f5;

  --b-cssvar-max-width: 800px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --b-cssvar-ffffff: #04050A;
    --b-cssvar-ffffff-r: 4;
    --b-cssvar-ffffff-g: 5;
    --b-cssvar-ffffff-b: 10;

    --b-cssvar-f1f3f5: #0a0b0f;
  }
}