.css_home_field .css_home_body .css_home_groups {
  position: relative;
  width: 100%;
  margin-top: calc(45px + 15px);
}

.css_home_field .css_home_body .css_home_groups .css_home_group {
  position: relative;
  --b-cssvar-width: clamp(var(--b-cssvar-min-width), 100%, var(--b-cssvar-max-width));
  width: var(--b-cssvar-width);
  left: calc((100% - var(--b-cssvar-width)) / 2);
}

.css_home_field .css_home_body .css_home_groups .css_home_group .css_home_group_body {
  position: relative;
  left: 15px;
  width: calc(100% - 30px);
}