.css_home_field .css_home_head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  width: 100%;
  background-color: rgba(var(--b-cssvar-ffffff-r), var(--b-cssvar-ffffff-g), var(--b-cssvar-ffffff-b), var(--b-cssvar-ffffff-opacity-a));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  contain: layout;
  overflow: hidden;
}

.css_home_field .css_home_head .css_home_head_icon {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none;
  overflow: none;
  contain: layout;
}

.css_home_field .css_home_head .css_home_head_icon img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  contain: layout;
}

.css_home_field .css_home_head .css_home_head_title {
  position: absolute;
  top: 0px;
  left: 45px;
  width: 80px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  color: var(--b-cssvar-main-color);
  display: flex;
  align-items: center;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  contain: layout;
}

.css_home_field .css_home_head .css_home_head_links {
  position: absolute;
  top: 0px;
  left: calc(45px + 80px);
  width: calc(100% - 45px - 80px);
  /* icon: 45px + title: 80px */
  height: 45px;
  display: flex;
  flex-direction: row;
  visibility: hidden;
}

.css_home_field .css_home_head .css_home_head_links .css_home_head_link {
  position: relative;
  display: inline-flex;
  height: 45px;
  align-items: center;
  padding: 0px 8px;
  color: var(--b-cssvar-main-color);
  font-size: 16px;
  font-weight: 400;
  word-break: keep-all;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
}

.css_home_field .css_home_head .css_home_head_links .css_home_head_link a {
  text-decoration: none;
}

.css_home_field .css_home_head .css_home_head_links .css_home_head_link a:visited {
  color: var(--b-cssvar-main-color);
}

@media (min-width: 600px) and (orientation: landscape) {
  .css_home_field .css_home_head .css_home_head_links {
    visibility: visible;
  }
}