.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body {
  height: calc(100vh - 45px - 30px);
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--b-cssvar-f1f3f5);
  overflow: hidden;
  contain: layout;
}