.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body {
  /*height: calc(100vh - 45px - 30px);*/
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--b-cssvar-f1f3f5);
  overflow: hidden;
  contain: layout;
}

@property --b-cssvar-repositpry-open-graph-image-width {
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

@property --b-cssvar-repositpry-open-graph-image-height {
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository .css_home_repository_open_graph_image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  aspect-ratio: var(--b-cssvar-repositpry-open-graph-image-width) / var(--b-cssvar-repositpry-open-graph-image-height);
  user-select: none;
  -webkit-user-select: none;
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository .css_home_repository_open_graph_image img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  aspect-ratio: var(--b-cssvar-repositpry-open-graph-image-width) / var(--b-cssvar-repositpry-open-graph-image-height);
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository .css_home_repository_content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  visibility: hidden;
}