/*
.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body {
  height: calc(100vh - 45px - 30px);
}
*/

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository .css_home_repository_open_graph_image {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--b-cssvar-f1f3f5);
  border-radius: 20px;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository .css_home_repository_open_graph_image img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository .css_home_repository_content {
  position: relative;
  left: 5px;
  width: calc(100% - 10px);
  height: auto;
  user-select: none;
  -webkit-user-select: none;
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository .css_home_repository_content .css_home_repository_name {
  position: relative;
  width: 100%;
  height: 40px;
  word-break: keep-all;
  white-space: nowrap;
  line-height: 40px;
  font-size: 24px;
  font-weight: 500;
  color: var(--b-cssvar-333333);
  overflow: hidden;
  text-overflow: ellipsis;
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository .css_home_repository_content .css_home_repository_description {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 18px;
  font-weight: 400;
  color: var(--b-cssvar-333333);
  text-align: justify;
  text-justify: inter-word;
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository .css_home_repository_content .css_home_repository_languages {
  position: relative;
  width: 100%;
  height: 15px;
  word-break: keep-all;
  white-space: nowrap;
  line-height: 15px;
  font-size: 15px;
  font-weight: 400;
  color: var(--b-cssvar-333333);
  overflow: hidden;
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository .css_home_repository_content .css_home_repository_languages .css_home_repository_language {
  position: relative;
  height: 15px;
  display: inline-block;
  word-break: keep-all;
  white-space: nowrap;
}

.css_home_field .css_home_body .css_home_groups .css_home_group[group="repositories"] .css_home_group_body .css_home_repository .css_home_repository_content .css_home_repository_languages .css_home_repository_language .css_home_repository_language_color {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--b-cssvar-language-color);
}