<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EricHsia7</title>
    <meta name="description" content="Erichsia7" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff" mode="light" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#04050A" mode="dark" />
    <link rel="manifest" href="https://erichsia7.github.io/manifest.json" />
    <link type="image/x-icon" href="https://erichsia7.github.io/icons/transparent/256x256.png" rel="icon" />
    <link type="image/x-icon" href="https://erichsia7.github.io/icons/transparent/256x256.png" rel="bookmark" />
    <link type="image/x-icon" href="https://erichsia7.github.io/icons/transparent/256x256.png" rel="shortcut icon" />
    <meta name="version-hash" content="<%= process.env.HASH %>" />
    <meta name="version-full-hash" content="<%= process.env.FULL_HASH %>" />
    <meta name="version-branch-name" content="<%= process.env.BRANCH_NAME %>" />
    <meta name="version-time-stamp" content="<%= process.env.TIME_STAMP %>" />
  </head>
  <body>
    <div class="css_home_field" displayed="true">
      <div class="css_home_body">
        
      </div>
      <div class="css_home_head">
        <div class="css_home_head_icon">
          <picture>
            <source media="(min-width: 801px)" srcset="https://erichsia7.github.io/icons/transparent/512x512.png" />
            <source media="(min-width: 401px) and (max-width: 800px)" srcset="https://erichsia7.github.io/icons/transparent/256x256.png" />
            <source media="(min-width: 300px) and (max-width: 400px)" srcset="https://erichsia7.github.io/icons/transparent/144x144.png" />
            <img src="https://erichsia7.github.io/icons/transparent/96x96.png" alt="EricHsia7" />
          </picture>
        </div>
        <div class="css_home_head_title">EricHsia7</div>
        <div class="css_home_head_links"></div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        window.erichsia7.initialize();
      });
      window.addEventListener('load', function () {
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('./service-worker.js');
        }
      });
    </script>
  </body>
</html>
